@charset "UTF-8";
/**
* @author 刘济铭
* 2017-10-24
*
**/
body, textarea, input, select, option {
  font-size: 14px;
  color: #333;
  font-family: "Microsoft Yahei", "Hiragino Sans GB", tahoma, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6, blockquote, ol, ul, dl, dd, p, textarea, input, select, option, form {
  margin: 0;
}

ol, ul, textarea, input, option, th, td {
  padding: 0;
}

table {
  border-collapse: collapse;
}

li {
  list-style-type: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

a, textarea, input, select {
  outline: none;
}

textarea {
  overflow: auto;
  resize: none;
}

.img img {
  display: block;
}

a img {
  border: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a:hover {
  text-decoration: underline;
}

.m {
  margin: 0 auto;
  width: 1200px;
  padding: 0 40px;
}

.mt {
  margin-top: 15px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/**
去ie10 小X
*/
::-ms-clear {
  display: none;
}

::-ms-reveal {
  display: none;
}

/**
 placeholder color更改
*/
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc;
}

[v-cloak] {
  display: none;
}

@font-face {
  font-family: "iconfont";
  /* Project id 3663293 */
  src: url("./font/iconfont.woff2?t=1663754541762") format("woff2"), url("./font/iconfont.woff?t=1663754541762") format("woff"), url("./font/iconfont.ttf?t=1663754541762") format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-152error40401:before {
  content: "";
}

.icon-xitongtuisong:before {
  content: "";
}

.icon-keaide:before {
  content: "";
}

.icon-xiaoxizhongxin:before {
  content: "";
}

.icon-iconfontguangchang:before {
  content: "";
}

.icon-iconfontguangchangdianji:before {
  content: "";
}

.icon-shouye:before {
  content: "";
}

.icon-shouye1:before {
  content: "";
}

.icon-anquanzhongxin:before {
  content: "";
}

.icon-shouye2:before {
  content: "";
}

.icon-kongzhizhongxin:before {
  content: "";
}

.icon-gaojingkongxin:before {
  content: "";
}

.icon-xiaoxi:before {
  content: "";
}

.icon-shilaji:before {
  content: "";
}

.icon-ganlaji:before {
  content: "";
}

.icon-xiaoxizhongxin1:before {
  content: "";
}

.icon-wode-wodefensi:before {
  content: "";
}

.icon-xinzang:before {
  content: "";
}

.icon-IPguangchang:before {
  content: "";
}

.icon-icon_guangchang:before {
  content: "";
}

.icon-a-Frame20:before {
  content: "";
}

.icon-quanxianyuzhanghaoguanliInAM:before {
  content: "";
}

.icon-shangpin4:before {
  content: "";
}

.icon-shibai3:before {
  content: "";
}

.icon-xiazai:before {
  content: "";
}

.icon-shouyegailan:before {
  content: "";
}

.icon-daochu:before {
  content: "";
}

.icon-shangpinguanli1:before {
  content: "";
}

.icon-header-08:before {
  content: "";
}

.icon-yongjinguanli:before {
  content: "";
}

.icon-zhanghaoshezhi:before {
  content: "";
}

.icon-yongjinguanli1:before {
  content: "";
}

.icon-zonghegailan:before {
  content: "";
}

.icon-he_86zhanghaoguanli:before {
  content: "";
}

.icon-chenggong3:before {
  content: "";
}

.icon-xiangshang:before {
  content: "";
}

.icon-dianpu:before {
  content: "";
}

.icon-shangyi:before {
  content: "";
}

.icon-shangpin:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-dingdan:before {
  content: "";
}

.icon-wodedingdan:before {
  content: "";
}

.icon-xiala:before {
  content: "";
}

.icon-yonghu:before {
  content: "";
}

.icon-fengxianyujing:before {
  content: "";
}

.icon-shouye:before {
  content: "";
}

.icon-shouye1:before {
  content: "";
}

.icon-fuwu:before {
  content: "";
}

.icon-shangpin1:before {
  content: "";
}

.icon-shangpin2:before {
  content: "";
}

.icon-caiwuguanli:before {
  content: "";
}

.icon-shuju:before {
  content: "";
}

.icon-yingxiaoguanli:before {
  content: "";
}

.icon-shangpinfenlei:before {
  content: "";
}

.icon-wancheng:before {
  content: "";
}

.icon-shibai:before {
  content: "";
}

.icon-chenggong:before {
  content: "";
}

.icon-shezhi:before {
  content: "";
}

.icon-wancheng1:before {
  content: "";
}

.icon-chenggong1:before {
  content: "";
}

.icon-fengxian:before {
  content: "";
}

.icon-shuju1:before {
  content: "";
}

.icon-ic_commission:before {
  content: "";
}

.icon-dianpu1:before {
  content: "";
}

.icon-hulianwangyingxiao-:before {
  content: "";
}

.icon-shibai1:before {
  content: "";
}

.icon-gailan:before {
  content: "";
}

.icon-shibai2:before {
  content: "";
}

.icon-gongyingshangguanli:before {
  content: "";
}

.icon-chenggong2:before {
  content: "";
}

.icon-shangpin3:before {
  content: "";
}

.icon-shangpinguanli:before {
  content: "";
}

.icon-huiyuanyingxiao:before {
  content: "";
}

.icon-caiwu:before {
  content: "";
}

.icon-shichangyingxiao:before {
  content: "";
}

.icon-shangla:before {
  content: "";
}

.icon-wancheng2:before {
  content: "";
}

.icon-yingxiaowangzhan:before {
  content: "";
}

.icon-gailan1:before {
  content: "";
}

/**
使用方法
@include keyframes(anMeinv,(
    0%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(165) pxToRem(157)
    ),
    50%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(265) pxToRem(257)
    ),
    75%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(565) pxToRem(657)
    ),
    100%:(
        background: url(i/meinv.png) no-repeat pxToRem(140) pxToRem(11),
        background-size: pxToRem(465) pxToRem(557)
    )
));
@include animation(anMeinv 2s ease-out forwards);
*/
.loading_box {
  height: auto;
}
.loading_box .loading {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
}
.loading_box .loading:before {
  content: "";
  position: absolute;
  display: block;
  border: 5px solid #1c71ff;
  opacity: 0.9;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -25px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 35px #1c71ff;
  -moz-box-shadow: 0 0 35px #1c71ff;
  box-shadow: 0 0 35px #1c71ff;
  -webkit-animation: spin-right 0.5s 0s linear infinite normal;
  -moz-animation: spin-right 0.5s 0s linear infinite normal;
  -ms-animation: spin-right 0.5s 0s linear infinite normal;
  -o-animation: spin-right 0.5s 0s linear infinite normal;
  animation: spin-right 0.5s 0s linear infinite normal;
}
@-webkit-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-moz-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-ms-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@-o-keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2;
  }
}
@keyframes spin-right {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    opacity: 0.2;
  }
}
.loading_box .loading:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: 5px solid #1c71ff;
  opacity: 0.9;
  border-radius: 50%;
  border-left-color: transparent;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 0 35px #1c71ff;
  -moz-box-shadow: 0 0 35px #1c71ff;
  box-shadow: 0 0 35px #1c71ff;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  -webkit-animation: spin-left 0.5s 0s linear infinite normal;
  -moz-animation: spin-left 0.5s 0s linear infinite normal;
  -ms-animation: spin-left 0.5s 0s linear infinite normal;
  -o-animation: spin-left 0.5s 0s linear infinite normal;
  animation: spin-left 0.5s 0s linear infinite normal;
}
@-webkit-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-moz-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-ms-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@-o-keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2;
  }
}
@keyframes spin-left {
  0% {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    opacity: 0.2;
  }
}

.no_result {
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  line-height: 40px;
  font-size: 16px;
  font-family: "微软雅黑";
}

.loadingBox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.loadingBox .loadingbg {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.loadingBox .loading {
  position: absolute;
  left: 50%;
  top: 40%;
  w: 40px;
  w2: 4px;
  z-index: 6;
  margin: 0 0 0 -20px;
  position: relative;
  overflow: hidden;
}

body {
  background: #f0f2f5;
}

.header_other {
  width: 800px;
  margin: 0 auto;
  height: 140px;
  background: #333;
}

.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff;
  transition: width 2s;
  -moz-transition: width 2s;
  /* Firefox 4 */
  -webkit-transition: width 2s;
  /* Safari 和 Chrome */
  -o-transition: width 2s;
  /* Opera */
  box-shadow: 0 2px 10px 0 rgba(26, 119, 255, 0.1);
}

.main {
  margin-top: 70px;
  display: flex;
}
.main .main_left {
  width: 240px;
  background-color: #f0f2f5;
  height: calc(100vh - 70px);
  display: flex;
}
.main .main_left .left_menu {
  width: 110px;
  background-color: #001529;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.main .main_left .left_menu .hd {
  height: 8px;
}
.main .main_left .left_menu .ft {
  height: 36px;
}
.main .main_left .left_menu .bd {
  overflow-y: auto;
  height: 100%;
  flex: 1;
  width: 140px;
  padding-top: 8px;
}
.main .main_left .left_menu .bd ::-webkit-scrollbar {
  /*滚动条整体样式*/
  display: none;
}
.main .main_left .left_menu .bd ::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  display: none;
}
.main .main_left .left_menu .bd ::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  display: none;
}
.main .main_left .left_menu .bd .menu_line {
  width: 78px;
  height: 1px;
  margin: 10px 16px;
  background: #ffffff1a;
}
.main .main_left .left_menu .bd ul {
  width: 140px;
}
.main .main_left .left_menu .bd ul li {
  height: 46px;
  width: 110px;
}
.main .main_left .left_menu .bd ul li .title {
  display: block;
  padding-left: 16px;
  height: 46px;
  display: flex;
  color: #fff;
  text-decoration: none;
  line-height: 46px;
  font-size: 14px;
}
.main .main_left .left_menu .bd ul li .title i {
  font-size: 16px;
  margin-right: 5px;
  vertical-align: middle;
  margin-top: 1px;
}
.main .main_left .left_menu .bd ul li .title:hover {
  background: #3c4653;
}
.main .main_left .left_menu .bd ul li .title.active {
  background: #fff;
  color: #3c4653;
  border-radius: 6px 0 0 6px;
  margin-left: 8px;
  padding-left: 8px;
  position: relative;
}
.main .main_left .left_menu .bd ul li .title.active i {
  color: #3c4653;
}
.main .main_left .left_menu .bd ul li .title.active::before {
  content: "";
  position: absolute;
  right: 0;
  height: 57px;
  width: 8px;
  top: -5px;
  z-index: 10;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAByBAMAAACo4UwDAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMA5AyxlGRJJpJQnjwZAAAAVklEQVQ4y2OAAiYYgx3GYIMxWGAMRhgjEqZJEspgnglldEIZyjMhDFZJMEM9BUjPZJgJAqOMUcYoAx8DnmUQmQierRAZDT3rMUmiZ08GRowszIaRzZkA1yW9FMfU//YAAAAASUVORK5CYII=) 50%;
  background-size: cover;
}
.main .main_left .right_menu {
  width: 130px;
  height: 100%;
  background: #fff;
  overflow: hidden;
  padding-bottom: 36px;
  box-sizing: border-box;
  height: calc(100vh - 70px);
}
.main .main_left .right_menu .dl_list {
  padding: 8px 0 50px 8px;
  height: 100%;
  width: 150px;
  box-sizing: border-box;
  overflow-y: auto;
}
.main .main_left .right_menu .dl_list dl dt {
  height: 35px;
  width: 122px;
  box-sizing: border-box;
  line-height: 35px;
  margin: 2px 0 0 0;
  font-size: 14px;
  padding-left: 12px;
  color: #1b2028;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
}
.main .main_left .right_menu .dl_list dl dt i {
  font-size: 16px;
  margin-right: 8px;
}
.main .main_left .right_menu .dl_list dl dt a {
  text-decoration: none;
}
.main .main_left .right_menu .dl_list dl dt a:hover {
  color: #1a77ff;
}
.main .main_left .right_menu .dl_list dl dd {
  height: 35px;
  line-height: 35px;
  width: 98px;
  font-size: 12px;
  margin: 0 0 4px 8px;
  padding-left: 12px;
}
.main .main_left .right_menu .dl_list dl dd a {
  color: #1b2028;
  text-decoration: none;
}
.main .main_left .right_menu .dl_list dl dd a:hover {
  color: #1a77ff;
}
.main .main_left .right_menu .dl_list dl dd.cur {
  background: #e6f4ff;
  border-radius: 3px;
}
.main .main_left .right_menu .dl_list dl dd.cur a {
  color: #1a77ff;
}
.main .main_right {
  display: block;
  margin-left: 15px;
  background-color: #fff;
  height: calc(100vh - 70px);
  flex-grow: 1;
  padding: 15px;
  box-sizing: border-box;
}

.popbox {
  padding: 8px 0 8px 8px;
  background: #3c4653;
  position: fixed;
  z-index: 999;
  display: none;
  border-radius: 5px;
}
.popbox .pop_list {
  height: 380px;
  overflow-y: auto;
  width: 140px;
  border-radius: 5px;
  box-sizing: border-box;
}
.popbox .pop_list dl dt {
  height: 35px;
  width: 122px;
  box-sizing: border-box;
  line-height: 35px;
  margin: 2px 0 0 0;
  font-size: 14px;
  padding-left: 12px;
  color: #fff;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
}
.popbox .pop_list dl dt i {
  font-size: 16px;
  margin-right: 8px;
}
.popbox .pop_list dl dt a {
  color: #eee;
  text-decoration: none;
}
.popbox .pop_list dl dt a:hover {
  color: #fff;
}
.popbox .pop_list dl dd {
  height: 35px;
  line-height: 35px;
  width: 98px;
  font-size: 12px;
  margin: 0 0 4px 8px;
  padding-left: 12px;
}
.popbox .pop_list dl dd a {
  color: #eee;
  text-decoration: none;
}
.popbox .pop_list dl dd.cur, .popbox .pop_list dl dd:hover {
  background: #4b5663;
  border-radius: 3px;
}
.popbox .pop_list dl dd.cur a, .popbox .pop_list dl dd:hover a {
  color: #fff;
}

.login_reg_bg {
  background: url("./i/cta-parallax-bg.jpeg") no-repeat center center;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
}

.login, .register {
  margin: 80px auto;
  width: 450px;
  background: #fff;
  border-radius: 3%;
  padding: 20px 20px 40px;
}
.login.register, .register.register {
  margin-top: 40px;
}
.login h4, .register h4 {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  padding-left: 15px;
}
.login .from_con, .register .from_con {
  padding: 10px 15px 0;
}
.login .from_con li label, .register .from_con li label {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.login .from_con li label em, .register .from_con li label em {
  visibility: hidden;
}
.login .from_con li .label_ctrl, .register .from_con li .label_ctrl {
  display: flex;
}
.login .from_con li .label_ctrl span, .register .from_con li .label_ctrl span {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 60px;
  border: 1px solid #22602f;
  border-right: none;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  text-align: center;
  cursor: pointer;
}
.login .from_con li .label_ctrl .inp, .register .from_con li .label_ctrl .inp {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #22602f;
  border-radius: 3px;
}
.login .from_con li .label_ctrl .inp_sp, .register .from_con li .label_ctrl .inp_sp {
  border-radius: 3px 0 0 3px;
}
.login .from_con li .label_ctrl .btn2, .register .from_con li .label_ctrl .btn2 {
  width: 270px;
  height: 40px;
  line-height: 40px;
  background: #22602f;
  font-size: 14px;
  color: #fff;
  border-radius: 0 3px 3px 0;
  border: none;
  cursor: pointer;
}
.login .from_con li .label_ctrl span + .inp, .register .from_con li .label_ctrl span + .inp {
  border-radius: 0 3px 3px 0;
}
.login .from_con li.sp, .register .from_con li.sp {
  margin-top: 30px;
}
.login .from_con li.sp .label_ctrl .btn, .register .from_con li.sp .label_ctrl .btn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #22602f;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.login .from_con li.other, .register .from_con li.other {
  padding: 6px 5px 0;
  display: flex;
}
.login .from_con li.other p, .register .from_con li.other p {
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.login .from_con li.other p:nth-child(2), .register .from_con li.other p:nth-child(2) {
  text-align: right;
}
.login .from_con li.other p:nth-child(1) a, .register .from_con li.other p:nth-child(1) a {
  color: #22602f;
}
.login .from_con li.other2, .register .from_con li.other2 {
  padding: 6px 5px 0;
}
.login .from_con li.other2 p, .register .from_con li.other2 p {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}
.login .from_con li.other2 p a, .register .from_con li.other2 p a {
  color: #22602f;
}

/*# sourceMappingURL=index.css.map */
